<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Plantech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Plantech.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/Chart.min.css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <!-- Navbar start -->
        <div class="container-fluid " style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <h1 class="text-primary display-6">Plantech</h1>
                    </a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("Administrador"))
                                {
                                    <a asp-controller="Administrador" asp-action="Index" class="nav-item nav-link active">Home</a>
                                    <a href="#" class="nav-item nav-link">Relatórios</a>
                                    <a href="#" class="nav-item nav-link">Pendencias</a>
                                    <a asp-controller="Funcionarios" asp-action="Index" class="nav-item nav-link">Funcionarios</a>
                                    <div class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Ações</a>
                                        <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                            <a asp-controller="Funcionarios" asp-action="Create" class="dropdown-item">Cadastrar Funcionários</a>
                                        
                                        </div>
                                    </div>

                                }
                                @if (User.IsInRole("Agricultor"))
                                {
                                    <a asp-controller="Agricultor" asp-action="Index" class="nav-item nav-link active">Home</a>
                                    <a asp-controller="Plantios" asp-action="Index" class="nav-item nav-link">Plantios</a>
                                    <a asp-controller="Colheitas" asp-action="Index" class="nav-item nav-link">Colheitas</a>
                                    <a asp-controller="Hortalicas" asp-action="Index" class="nav-item nav-link">Hortaliças</a>
                                    <div class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Ações</a>
                                        <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                            <a asp-controller="Plantios" asp-action="Create" class="dropdown-item">Realizar Plantio</a>
                                            <a asp-controller="Colheitas" asp-action="Create" class="dropdown-item">Realizar Colheita</a>
                                            <a asp-controller="LotesInsumos" asp-action="Index" class="dropdown-item">Consultar Lotes de Insumos</a>
                                            <a asp-controller="LotesHortalicas" asp-action="Index" class="dropdown-item">Consultar Lotes de Hortaliça</a>
                                            <a asp-controller="Hortalicas" asp-action="Create" class="dropdown-item">Cadastrar Hortaliças</a>
                                        </div>
                                    </div>


                                }
                                @if (User.IsInRole("Comprador"))
                                {
                                    <a asp-controller="Comprador" asp-action="Index" class="nav-item nav-link active">Home</a>
                                    <a asp-controller="OrdensCompras" asp-action="Index" class="nav-item nav-link">Compras</a>
                                    <a asp-controller="Insumos" asp-action="Index" class="nav-item nav-link">Insumos</a>
                                    <a asp-controller="Fornecedores" asp-action="Index" class="nav-item nav-link">Fornecedores</a>
                                    <div class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Ações</a>
                                        <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                            <a asp-controller="OrdensCompras" asp-action="NovaCompra" class="dropdown-item">Realizar Compra</a>
                                            <a asp-controller="LotesInsumos" asp-action="Index" class="dropdown-item">Consultar Lotes de Insumos</a>
                                            <a asp-controller="Insumos" asp-action="Create" class="dropdown-item">Cadastrar Insumos</a>
                                            <a asp-controller="Fornecedores" asp-action="Create" class="dropdown-item">Cadastrar Fornecedores</a>
                                        </div>
                                    </div>

                                }
                                @if (User.IsInRole("Vendedor"))
                                {
                                    <a asp-controller="Vendedor" asp-action="Index" class="nav-item nav-link active">Home</a>
                                    <a asp-controller="Vendas" asp-action="Index" class="nav-item nav-link">Vendas</a>
                                    <a asp-controller="Cliente" asp-action="Index" class="nav-item nav-link">Clientes</a>
                                    @* <a href="#" class="nav-item nav-link">Histórico</a>  *@
                                    <div class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Ações</a>
                                        <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                            <a asp-controller="Vendas" asp-action="NovaVenda" class="dropdown-item">Realizar Venda</a>
                                            <a asp-controller="LotesHortalicas" asp-action="Index" class="dropdown-item">Consultar Lotes de Hortaliças</a>
                                            <a asp-controller="Hortalicas" asp-action="Index" class="dropdown-item">Consultar Hortaliças</a>
                                            <a asp-controller="Cliente" asp-action="Create" class="dropdown-item">Cadastrar Clientes</a>
                                            
                                        </div>
                                    </div>


                                }

                            }
                            else
                            {
                                

                            }
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            var userName = User.Identity.Name; // Obtém o nome do usuário
                            <a asp-controller="Login" asp-action="Logout" class="my-auto d-flex align-items-center" id="logoutLink">
                                <span id="userNameText">Olá, @userName
                                </span> <!-- Exibe o nome do usuário -->
                                <i class="fas fa-user fa-2x ms-2"></i> <!-- Adiciona margem à esquerda do ícone -->
                                
                            </a>
                        }
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Create.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script> 
        document.getElementById('logoutLink').addEventListener('mouseover', function() 
        { 
            document.getElementById('userNameText').textContent = 'Sair'; 
        }); 
        document.getElementById('logoutLink').addEventListener('mouseout', function() 
        { 
            document.getElementById('userNameText').textContent = 'Olá, @User.Identity.Name'; 
        }); 
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>