


<div class="nav-item dropdown">
<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
<div class="dropdown-menu m-0 bg-secondary rounded-0">
    <a href="#" class="dropdown-item">Cart</a>
    <a href="#" class="dropdown-item">Chackout</a>
    <a href="#" class="dropdown-item">Parceiros</a>
    <a href="#" class="dropdown-item">404 Page</a>
</div>
</div>