@model Plantech.ViewModels.HortalicaViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/detalhes.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
}


<h2>@ViewData["Title"]</h2>
<div class="">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="row">
            @* <div class="card col-6 p-4"> *@
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome:</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <textarea asp-for="Descricao" class="form-control"
                    style="height: 100px; vertical-align: top;margin-bottom: 10px;"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label">Observações</label>
                <textarea asp-for="Observacoes" class="form-control"
                    style="height: 100px; vertical-align: top;margin-bottom: 10px;"></textarea>
                <span asp-va lidation-for="Observacoes" class="text-danger"></span>

            </div>
            @* </div> *@

            @* <div class="col-6"> *@
            <div class="form-group">
                <label asp-for="ImagemArquivo" class="control-label">Imagem</label>
                <input asp-for="ImagemArquivo" class="form-control" type="file" id="imageUpload"
                    onchange="previewImage(event)" />
                <span asp-validation-for="ImagemArquivo" class="text-danger"></span>
            </div>

            <img id="imagePreview" src="" alt="Imagem selecionada"
                style="display:none; width: 640px; height: 440px; border: 2px solid #ccc; margin-top: 10px;" />

            <div class="form-group text-end mt-3">
                <a asp-action="Index" class="btn btn-secondary" >Voltar</a>
                <button type="submit" class="btn btn-primary">Adicionar</button>

            </div>

            @* </div> *@

    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
