@model Plantech.DTOs.HortalicaDTO


@section Styles {
    <link rel="stylesheet" href="~/css/detalhes.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/detalhes.css" asp-append-version="true" />
}

<h2 class="text-center mb-3 mt-3">@ViewData["Title"]</h2>

<h2>
    <dd class="col-sm-11 text-center">@Model.Nome</dd>
</h2>
<dl class="conteudo row bg-white">
    <div class="col-12 col-md-6">
        <dt>Descrição:</dt>
        <dd>@Model.Descricao</dd>
        <dt>Observações:</dt>
        <dd>@Model.Observacoes</dd>
    </div>
    <dd class=" col-12 col-md-6">
        @if (!string.IsNullOrEmpty(Model.CaminhoImagem))
        {
            <img src="~/images/@Model.CaminhoImagem" class="img-thumbnail mt-2"
                style="object-fit: cover; width: 800px; height: 400px;" />
        }
    </dd>
</dl>
<div class="text-end ">
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
