@model Plantech.DTOs.HortalicaDTO
@{
    ViewData["Title"] = "Detalhes da Hortaliça";
}
<link rel="stylesheet" href="~/css/detalhes.css" asp-append-version="true" />
<h2 class="text-center mb-3 mt-3">@ViewData["Title"]</h2>

<section>
    <div>
        <dl class="conteudo row">
            <h2>
                <dd class="col-sm-11 text-center">@Model.Nome</dd>
            </h2>
            <dd class=" IMG col-sm-10">
                @if (!string.IsNullOrEmpty(Model.CaminhoImagem))
                {
                    <img src="~/images/@Model.CaminhoImagem" class="img-thumbnail mt-2"
                        style="object-fit: cover; width: 800px; height: 400px;" />
                }
            </dd>
            <dt class="col-sm-2 ms-3">Descrição:</dt>
            <dd class="col-sm-11 ms-3">@Model.Descricao</dd>
            <dt class="col-sm-2 ms-3">Observações:</dt>
            <dd class="col-sm-11 ms-3">@Model.Observacoes</dd>

        </dl>
    </div>
    <div class="text-end ">
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>

</section>
