@model Plantech.DTOs.HortalicaDTO


@section Styles {
    <link rel="stylesheet" href="~/css/detalhes.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/detalhes.css" asp-append-version="true" />
}

<h2 class="text-center mb-3 mt-3">@ViewData["Title"]</h2>

<div class="d-grid justify-content-center">
    </h2>
    <dd class=" ">
        @if (!string.IsNullOrEmpty(Model.CaminhoImagem))
        {
            <img src="~/images/@Model.CaminhoImagem" class="img-thumbnail mt-2"
                style="aspect-ratio: 1 / 1; object-fit: cover; max-width: 400px;" />
        }
    </dd>
    <dt class="col-sm-2 ms-3">Descrição:</dt>
    <dd class="col-sm-11 ms-3">@Model.Descricao</dd>
    <dt class="col-sm-2 ms-3">Observações:</dt>
    <dd class="col-sm-11 ms-3">@Model.Observacoes</dd>

    </dl>
</div>
<div class=" text-end">
    <a asp-action="Index" class="btn btn-secondary mt-3" style="width: 200px; ">Voltar</a>
</div>
