# Compiled object files
*.dll
*.exe
*.obj
*.pdb

# ASP.NET files
*.config

# Visual Studio files
.vscode/
*.suo
*.user

# Build directories
bin/
obj/

# Node.js modules
node_modules/

# npm debug logs
npm-debug.log*
