@model Plantech.ViewModels.ColheitaViewModel
@section Styles {
    <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
}
@{
    ViewData["Title"] = "Realizar Colheita";
}
<br>
<h1>Realizar Colheita</h1>
<div class="row">
    <div class=" border shadow rounded-2 mx-2 p-2 bg-white">
        <form asp-action="Create" method="post" id="colheitaForm" class="row g-3">
            <div class="form-group col-12 col-md-3">
                <label>Nome do Funcionário</label>
                <input class="form-control" value="@ViewData["FuncionarioNome"]" readonly
                    style="margin-bottom: 20px;" />
            </div>

            <div class="d-flex gap-1 col-12 col-md-9">
                <div class="row">
                    <div class="form-group col-12 col-md-6">
                        <label asp-for="PlantioId" class="control-label">Plantios não colhidos</label>
                        <select asp-for="PlantioId" class="form-control">
                            <option value="">Selecione um plantio</option>
                            @if (ViewData["Plantios"] != null)
                            {
                                @foreach (var item in ViewData["Plantios"] as List<SelectListItem>)
                                {
                                    <option value="@item.Value" data-quantidade="@item.Group?.Name">@item.Text</option>
                                }
                            }
                            else
                            {
                                <option value="">Nenhum plantio disponível para colheita.</option>
                            }
                        </select>
                        <span asp-validation-for="PlantioId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label asp-for="Quantidade" class="control-label"></label>
                        <input asp-for="Quantidade" class="form-control" min="1" />
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <input type="hidden" asp-for="DataColheita" />
            <input type="hidden" asp-for="FuncionarioId" />

        </form>
    </div>

</div>
<div class="form-group text-end mt-2">
    <a asp-action="Index" class="btn btn-secondary mx-2">Voltar</a>
    <input type="submit" value="Realizar Colheita" class="btn btn-primary" />
</div>

@section Scripts {
    <script>
        document.querySelector('form').addEventListener('submit', function (event) {
            var selectElement = document.querySelector('select[name="PlantioId"]');
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            var quantidadePlantada = parseInt(selectedOption.getAttribute('data-quantidade'));
            var quantidadeColhida = parseInt(document.querySelector('input[name="Quantidade"]').value);

            console.log('Quantidade Plantada:', quantidadePlantada);
            console.log('Quantidade Colhida:', quantidadeColhida);

            if (isNaN(quantidadeColhida) || isNaN(quantidadePlantada)) {
                event.preventDefault();
                alert('Por favor, insira um valor válido.');
                return;
            }

            if (quantidadeColhida > quantidadePlantada) {
                event.preventDefault();
                alert('A quantidade colhida não pode exceder a quantidade plantada.');
                return;
            }

            if (quantidadeColhida < 0) {
                event.preventDefault();
                alert('A quantidade colhida não pode ser menor que zero.');
                return;
            }
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
