@{
    ViewData["Title"] = "Home Comprador";
}
    <br><br>
<div class="jumbotron">
    <h1>Bem-vindo Comprador</h1>
    <br>
    <p>
        Suas funcionalidades estarão disponiveis em breve!
    </p>
</div>