@model Plantech.ViewModels.UsuarioViewModel
@{
    ViewData["Title"] = "Criar Usuario";
}



<div class="row">
    <div class="d-flex justify-content-center align-items-center">
        
        <div class="col-md-4">
            <br><br>
            <h2>@ViewData["Title"]</h2><br>
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="NomeUsuario" class="control-label"></label>
                    <input asp-for="NomeUsuario" class="form-control" />
                    <span asp-validation-for="NomeUsuario" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group">
                    <label asp-for="Senha" class="control-label"></label>
                    <input asp-for="Senha" class="form-control" type="password" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control">
                        <option value="ativo">Ativo</option>
                        <option value="inativo">Inativo</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <br>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary " style="width: 200px;">Criar</button>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
