@model Plantech.ViewModels.LoginViewModel
@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}
<div class="d-flex justify-content-center align-items-center" style="height: 88h;">

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-center align-items-center">
                    <img style=" width: 300px; margin-top: 5px;" src="~/images/logo.png" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex justify-content-center align-items-center">
                <form asp-action="Login" method="post" class="text-center">
                    <div class="form-group col-12 col-md-4 col-lg-3 text-start">
                        <label asp-for="Username" class="control-label" style="width:350px;">Usuário</label>
                        <input asp-for="Username" class="form-control mx-auto" style="width: 350px;" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="form-group col-12 col-md-4 col-lg-3 text-start">
                        <label asp-for="Password" class="control-label" style="width:350px;">Senha</label>
                        <input asp-for="Password" class="form-control mx-auto" style="width: 350px;" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="form-group text-center">
                        <!-- Link para criar uma nova conta -->
                        @* <div class="form-group">
                            <p>Não tem uma conta? <a asp-controller="Login" asp-action="Create">Crie uma aqui</a>.</p>
                        </div> *@
                        <button type="submit" class="btn btn-primary" style="width: 200px;">Login</button>
                    </div>
                </form>
            </div>




        </div>

    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
