@model IEnumerable<Plantech.ViewModels.CulturaPerdidaViewModel>

@{
    ViewData["Title"] = "Culturas Perdidas";
}

<br><br>

@if (User.IsInRole("Administrador") || User.IsInRole("Agricultor"))
{
    <div class="card-index">
    <div style="max-height: 350px; overflow-y: auto;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Cultura Perdida 
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th>
                        Data da Colheita
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HortalicasPerdidas.FirstOrDefault().Quantidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Colheita.DataColheita)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br>
<div>
    <a asp-controller="Agricultor" asp-action="Index" class="btn btn-primary">Voltar a Home</a>
</div>

}