@{
    ViewData["Title"] = "Home Agricultor";
}

<div class="jumbotron">
    <h1>Bem-vindo Agricultor</h1>
    <br>
    <p>
        <a asp-controller="Hortalicas" asp-action="Index" class="btn btn-primary btn-lg">Hortaliças</a>
    </p>
</div>