@model IEnumerable<Plantech.DTOs.PlantioDTO>

@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
}

<div class="jumbotron">
    <h1>Bem-vindo Agricultor</h1>
    <br>
    <p>
        <a asp-controller="Hortalicas" asp-action="Index" class="btn btn-primary btn-lg">Hortaliças</a>
    </p>
</div>
<div>
    <canvas id="graficoPlantios" width="600" height="200"></canvas>

</div>

@section Scripts {

    <script>
        var ctx = document.getElementById('graficoPlantios').getContext('2d');
        var datas = @Html.Raw(Json.Serialize(Model.Select(p => p.DataPlantio?.ToString("yyyy-MM-dd"))));
        var quantidades = @Html.Raw(Json.Serialize(Model.Select(p => p.Quantidade)));

        console.log(datas, quantidades); // Para debugar

        var graficoPlantios = new Chart(ctx, {
            type: 'line',
            data: {
                labels: datas,
                datasets: [{
                    label: 'Datas dos Plantios',
                    data: quantidades,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'category', // Usar categoria já que temos apenas datas
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}
