﻿﻿<style>
    img {
        aspect-ratio: 1 / .7;
        object-fit: cover;
    }
</style>

@{
    ViewData["Title"] = "Home Page";
}

<br><br>

@if (User.Identity.IsAuthenticated)
{
    @section Styles {
    <link rel="stylesheet" href="~/css/detalhes.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

}
    @if (User.IsInRole("Administrador"))
    {
        <div class="botao-adm">
            <h1>Selecione qual operação deseja gerenciar!</h1><br>
        </div>
        <br><br>
        <div class="botao-adm">
            <div class="d-flex " style="gap: 50px;" >
                <div>
                    <a asp-controller="Administrador" asp-action="Index" class="btn btn-primary" style="width: 200px;">Gerenciamento</a>
                </div>
                
                <div>
                    <a asp-controller="Agricultor" asp-action="Index" class="btn btn-primary" style="width: 200px;">Ir para a fazenda</a>
                </div>
                
                <div>
                    <a asp-controller="Comprador" asp-action="Index" class="btn btn-primary" style="width: 200px;">Ir para a compra</a>
                </div>
                
                <div>
                    <a asp-controller="Vendedor" asp-action="Index" class="btn btn-primary" style="width: 200px;">Ir para a venda</a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <img style=" width: 350px; margin-top: 93px;" src="~/images/logo.png" alt="">
        </div>
        
    }
    @if (User.IsInRole("Agricultor"))
    {
        <br>

        <br>
        <h1>Olá Agricultor, comece as atividades!</h1>
        <div>
            <a asp-controller="Agricultor" asp-action="Index" class="btn btn-primary">Ir para a fazenda</a>
        </div>
    }
    @if (User.IsInRole("Comprador"))
    {
        <br>

        <br>
        <h1 class="text-center">Olá Comprador, comece as atividades!</h1>
        <div class="text-center">
            <a asp-controller="Comprador" asp-action="Index" class="btn btn-primary">Ir para a compra</a>
        </div>
    }
    @if (User.IsInRole("Vendedor"))
    {
        <br>

        <br>
        <h1 class="text-center">Olá Vendedor, comece as atividades!</h1>
        <div class="text-center">
            <a asp-controller="Vendedor" asp-action="Index" class="btn btn-primary">Ir para a venda</a>
        </div>
    }

}
else
{

    Layout = "_LayoutLogout";

    <!-- INICIO -->
    <div class="container-fluid py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-md-12 col-lg-7">
                    <h2 class="mb-3 display-6 text-primary">100% Hortaliças Frescas</h2>
                    <h2 class="mb-3 text-secondary">Conheça a Plantech</h2>
                    <p style="text-align: justify; line-height: 2.2;">
                        Somos a maior fazenda urbana vertical do estado de São Paulo.<br>
                        Oferecemos hortaliças orgânicas, utilizando tecnologia e inovação.<br>
                        Possuímos a certificação GlobalGap (Good Agricultural Practices).<br>
                        A certificação mais reconhecida e respeitada do setor agrícola. </p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active rounded">
                                <img src="img/hortalicas-hero.jpg"
                                    class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                                <a href="#produtos" class="btn px-4 py-2 text-white rounded">Hortaliças</a>
                            </div>
                            <div class="carousel-item rounded">
                                <img src="img/verticalMini.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                                <a href="#qualidade" class="btn px-4 py-2 text-white rounded">Qualidade e Frescor</a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="produtos"></div> <br>
    <!--Nossos produtos -->
    <div class="container-fluid fruite py-5">
        <div class="container py-5">
            <div class="tab-class text-center">
                <div class="tab-content">
                    <div class="col-lg-4 text-start">
                        <h1>Nossas Hortaliças</h1><br>
                    </div>
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="row g-4">
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="./img/hortalicas.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                style="top: 10px; left: 10px;">Hortaliças</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom"
                                                style="min-height: 250px;">
                                                <h4>Hortaliças<br>Orgânicas</h4>
                                                <p
                                                    style="text-align: justify; letter-spacing: -0.5px; word-spacing: -0.5px; text-align-last: left;">
                                                    Hortaliças frescas, sem uso de agrotóxico e sem desperdício. A
                                                    germinação ocorre em salas específicas com luzes que estimulam de forma
                                                    natural a fotossíntese das plantas.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="" id="alface"></div>

                                            <div class="fruite-img">
                                                <img src="./img/alface.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                style="top: 10px; left: 10px;">Verduras</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom"
                                                style="min-height: 273px;">
                                                <h4>Alface<br>Crespa</h4>
                                                <p></p>
                                                <p></p>
                                                <p
                                                    style="text-align: justify; letter-spacing: -0.5px; word-spacing: -0.5px; text-align-last: left;">
                                                    Alface é uma hortaliça muito popular, especialmente em saladas.
                                                    É uma ótima escolha para quem busca alimentos frescos e nutritivos.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="" id="rucula"></div>
                                            <div class="fruite-img">
                                                <img src="./img/rucula.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                style="top: 10px; left: 10px;">Verduras</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom"
                                                style="min-height: 273px;">
                                                <h4>Rúcula<br>Orgânica</h4>
                                                <p
                                                    style="text-align: justify; letter-spacing: -0.5px; word-spacing: -0.5px; text-align-last: left;">
                                                    Textura crocante, sabor picante e aroma intenso. Adiciona um toque
                                                    especial a saladas e pratos.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="" id="couve manteiga"></div>
                                            <div class="fruite-img">
                                                <img src="./img/couve manteiga.jpg" class="img-fluid w-100 rounded-top"
                                                    alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                style="top: 10px; left: 10px;">Verduras</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom"
                                                style="min-height: 273px;">
                                                <h4>Couve<br>Manteiga</h4>
                                                <p
                                                    style="text-align: justify; letter-spacing: -0.5px; word-spacing: -0.5px; text-align-last: left;">
                                                    Textura e sabor ressaltados. Qualidade nas folhas e frescor no aroma.
                                                    Rica em nutrientes, é uma opção versátil e saudável. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="./img/oregano.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                style="top: 10px; left: 10px;">Ervas Aromáticas</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom"
                                                style="min-height: 273px;">
                                                <h4>Orégano<br>Fresco</h4>
                                                <p
                                                    style="text-align: justify; letter-spacing: -1.0px; word-spacing: -1.0px; text-align-last: left;">
                                                    Erva aromática muito apreciada na culinária por seu sabor intenso.
                                                    Confere um toque especial em diferentes preparações.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="" id="manjericao"></div>

                                            <div class="fruite-img">
                                                <img src="./img/majericaof.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                style="top: 10px; left: 10px;">Ervas Aromáticas</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom"
                                                style="min-height: 273px;">
                                                <h4>Manjericão<br>Fresco</h4>
                                                <p
                                                    style="text-align: justify; letter-spacing: -0.5px; word-spacing: -0.5px; text-align-last: left;">
                                                    Folhas Aromáticas, com um aroma intenso e sabor único. Ideal para
                                                    molhos, pizzas e pratos italianos.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="" id="alfaceamericana"></div>
                                            <div class="fruite-img">
                                                <img src="./img/alfaceamericana.jpg" class="img-fluid w-100 rounded-top"
                                                    alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                style="top: 10px; left: 10px;">Verduras</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom"
                                                style="min-height: 273px;">
                                                <h4>Alface<br>Americana</h4>
                                                <p
                                                    style="text-align: justify; letter-spacing: -0.6px; word-spacing: -0.6px; text-align-last: left;">
                                                    Frescor e crocância são as características principais dessa hortaliça.
                                                    Cada vez mais vem ganhando popularidade.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="" id="espinafre"></div>
                                            <div class="fruite-img">
                                                <img src="./img/espinafre.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                style="top: 10px; left: 10px;">Verduras</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom"
                                                style="min-height: 273px;">
                                                <h4>Espinafre<br>Orgânico</h4>
                                                <p
                                                    style="text-align: justify; letter-spacing: -0.7px; word-spacing: -0.7px; text-align-last: left;">
                                                    Sabor suave e benefícios nutricionais. Rico em vitaminas e minerais.
                                                    Pode ser consumido tanto cru quanto cozido.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="./img/escarola.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                style="top: 10px; left: 10px;">Verduras</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom"
                                                style="min-height: 273px;">
                                                <h4>Escarola<br>Fresca</h4>
                                                <p
                                                    style="text-align: justify; letter-spacing: -0.5px; word-spacing: -0.5px; text-align-last: left;">
                                                    Hortaliça de folhas verdes e levemente amarga. Pode ser consumida crua
                                                    ou cozida. Possui textura crocante e sabor marcante.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="./img/acelga.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                style="top: 10px; left: 10px;">Verduras</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom"
                                                style="min-height: 273px;">
                                                <h4>Acelga<br>Crocante</h4>
                                                <p
                                                    style="text-align: justify; letter-spacing: -0.5px; word-spacing: -0.5px; text-align-last: left;">
                                                    Verdura de folhas largas e talo crocante, muita apreciada por seu sabor
                                                    e versatilidade em preparações. Excelente opção nutritiva.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="" id="tomilho"></div>
                                            <div class="fruite-img">
                                                <img src="./img/tomilho.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                style="top: 10px; left: 10px;">Ervas Aromáticas</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom"
                                                style="min-height: 273px;">
                                                <h4>Tomilho<br>Fresco</h4>
                                                <p
                                                    style="text-align: justify; letter-spacing: -0.5px; word-spacing: -0.5px; text-align-last: left;">
                                                    Erva aromática com sabor forte e terroso. Suas folhas pequenas e
                                                    delicadas liberam um aroma característico quando frescas e secas.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="./img/coentro.jpg" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                style="top: 10px; left: 10px;">Ervas Aromáticas</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom"
                                                style="min-height: 273px;">
                                                <h4>Coentro<br>Orgânico</h4>
                                                <p
                                                    style="text-align: justify; letter-spacing: -0.5px; word-spacing: -0.5px; text-align-last: left;">
                                                    Erva aromática popular tanto como tempero quanto como verdura. Suas
                                                    folhas frescas são usadas para dar sabor a uma variedade de pratos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="vendidos"></div>

    <br>
    <!-- Mais vendidos -->
    <div class="container-fluid service py-5">
        <div class="container py-5">
            <div class="row g-4 justify-content-center">
                <h1>Mais Vendidos</h1>
                <div class="col-md-6 col-lg-4">
                    <a href="#produtos">
                        <div class="service-item bg-secondary rounded border border-secondary">
                            <img src="./img/alface+.jpg" class="img-fluid rounded-top w-100" alt="">
                            <div class="px-4 rounded-bottom">
                                <div class="service-content bg-primary text-center p-4 rounded">
                                    <h5 class="text-white">Hortaliças em Oferta</h5>
                                    <h3 class="mb-0">40% OFF</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="#produtos">
                        <div class="service-item bg-dark rounded border border-dark">
                            <img src="./img/salsinha.jpg" class="img-fluid rounded-top w-100" alt="">
                            <div class="px-4 rounded-bottom">
                                <div class="service-content bg-light text-center p-4 rounded">
                                    <h5 class="text-primary">Hortaliças 100%</h5>
                                    <h3 class="mb-0">Orgânicas</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="#produtos">
                        <div class="service-item bg-primary rounded border border-primary">
                            <img src="./img/rucula.jpg" class="img-fluid rounded-top w-100" alt="">
                            <div class="px-4 rounded-bottom">
                                <div class="service-content bg-secondary text-center p-4 rounded">
                                    <h5 class="text-white">Hortaliças da Temporada</h5>
                                    <h3 class="mb-0">20R$ Desconto</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- Qualidade Garantida-->
    <div class="container-fluid banner bg-secondary my-5">
        <div class="container py-5">
            <div class="row g-4 align-items-center">
                <div class="col-lg-6">
                    <div class="py-4">
                        <h1 class="display-3 text-white">Os melhores produtos aqui </h1>
                        <p class="fw-normal display-3 text-dark mb-4">Plantech</p>
                        <p class="mb-4 text-dark">As melhores hortaliças, sempre frescas e de alta qualidade!
                            Garantimos um atendimento excepcional, com uma equipe pronta para ajudar você a escolher os
                            melhores produtos. </p>
                        <a href="#produtos"
                            class="banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5">Todos os
                            Produtos</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img src="./img/alfacevend.jpg"
                            class="img-fluid w-100 rounded" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="qualidade"></div>
    <!-- Nossas melhores Hortaliças -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mx-auto mb-5" style="max-width: 700px;">
                <h1 class="display-4">Nossas melhores Hortaliças</h1>
                <p style="text-align: justify; line-height: 2.0;">Conheça as melhores hortaliças da nossa fazenda urbana vertical, cultivadas de forma sustentável e com todo o cuidado para levar mais saúde e sabor à mesa dos consumidores. Nossas hortaliças orgânicas crescem em um ambiente controlado e livre de agrotóxicos, garantindo frescor e qualidade incomparáveis. Cada folha e cada ramo refletem nosso compromisso com o meio ambiente e com você que valoriza uma alimentação saudável.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-6 col-xl-4">
                    <div class="p-4 rounded bg-light">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <img src="./img/majericaof.jpg" class="img-fluid rounded-circle w-100" alt=""
                                    style="object-fit: cover;">
                            </div>
                            <div class="col-6">
                                <a href="#manjericao" class="h5">Manjericão</a>
                                <div class="d-flex my-3">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-4">
                    <div class="p-4 rounded bg-light">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <img src="img/rucula.jpg" class="img-fluid rounded-circle w-100" alt=""
                                    style="object-fit: cover;">
                            </div>
                            <div class="col-6">
                                <a href="#rucula" class="h5">Rúcula</a>
                                <div class="d-flex my-3">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-4">
                    <div class="p-4 rounded bg-light">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <img src="img/alface.jpg" class="img-fluid rounded-circle w-100" alt=""
                                    style="object-fit: cover;">
                            </div>
                            <div class="col-6">
                                <a href="#alface" class="h5">Alface Crespa</a>
                                <div class="d-flex my-3">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="text-center">
                        <img src="./img/tomilho.jpg" class="img-fluid rounded" alt="" style="object-fit: cover;">
                        <div class="py-4">
                            <a href="#tomilho" class="h5">Tomilho Fresco</a>
                            <div class="d-flex my-3 justify-content-center">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="text-center">
                        <img src="img/couve manteiga.jpg" class="img-fluid rounded" alt="" style="object-fit: cover;">
                        <div class="py-4">
                            <a href="#couve manteiga" class="h5">Couve Manteiga</a>
                            <div class="d-flex my-3 justify-content-center">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="text-center">
                        <img src="img/alfaceamericana.jpg" class="img-fluid rounded" alt="" style="object-fit: cover;">
                        <div class="py-4">
                            <a href="#alfaceamericana" class="h5">Alface Americana</a>
                            <div class="d-flex my-3 justify-content-center">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="text-center">
                        <img src="img/espinafre.jpg" class="img-fluid rounded" alt="" style="object-fit: cover;">
                        <div class="py-4">
                            <a href="#espinafre" class="h5">Espinafre Orgânico</a>
                            <div class="d-flex my-3 justify-content-center">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Satisfação -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="bg-light p-1 rounded">
                <div class="row g-1 justify-content-center">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="counter bg-white rounded p-5">
                            <i class="fa fa-users text-secondary"></i>
                            <h4>Satisfação dos Consumidores</h4>
                            <h1>100%</h1>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="counter bg-white rounded p-5">
                            <i class="fa fa-users text-secondary"></i>
                            <h4>Qualidade do Serviço</h4>
                            <h1>100%</h1>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="counter bg-white rounded p-5">
                            <i class="fa fa-users text-secondary"></i>
                            <h4>Lojas Parceiras</h4>
                            <h1>152</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="parceiros"></div>

    <br>
    <!-- feedback de clientes -->
    <div class="container-fluid testimonial py-5">
        <div class="container py-5">
            <div class="testimonial-header text-center">

                <h4 class="text-primary">Nossos Parceiros</h4>
                <h1 class="display-5 mb-5 text-dark">O Hortifruti Perto de Você!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item img-border-radius bg-light rounded p-4">
                    <div class="position-relative">
                        <i class="fa fa-quote-right fa-2x text-secondary position-absolute"
                            style="bottom: 30px; right: 0;"></i>
                        <div class="mb-4 pb-4 border-bottom border-secondary">
                            <p class="mb-0">Como vendedor, posso afirmar que a qualidade das hortaliças aqui é incomparável!
                                Sempre frescas e selecionadas, são um diferencial que encanta meus clientes. Recomendo!
                            </p>
                        </div>
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="bg-secondary rounded">
                                <img src="./img/stmarche.jpg" class="img-fluid rounded"
                                    style="width: 100px; height: auto; object-fit: cover;" alt="">
                            </div>
                            <div class="ms-4 d-block">
                                <h4 class="text-dark">St Marche</h4>
                                <p class="m-0 pb-3">Supermercado</p>
                                <div class="d-flex pe-5">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item img-border-radius bg-light rounded p-4">
                    <div class="position-relative">
                        <i class="fa fa-quote-right fa-2x text-secondary position-absolute"
                            style="bottom: 30px; right: 0;"></i>
                        <div class="mb-4 pb-4 border-bottom border-secondary">
                            <p class="mb-1">Valorizo a qualidade e frescor das hortaliças. Na loja, encontro sempre produtos
                                de excelência que fazem a diferença nas mesas dos consumidores. Parabéns pelo trabalho!
                            </p>
                        </div>
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="bg-secondary rounded">
                                <img src="./img/eataly.jpg" class="img-fluid rounded"
                                    style="width: 100px; height: auto; object-fit: cover;" alt="">
                            </div>
                            <div class="ms-4 d-block">
                                <h4 class="text-dark">Eataly</h4>
                                <p class="m-0 pb-3">Maior Centro Gastronômico</p>
                                <div class="d-flex pe-5">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item img-border-radius bg-light rounded p-4">
                    <div class="position-relative">
                        <i class="fa fa-quote-right fa-2x text-secondary position-absolute"
                            style="bottom: 30px; right: 0;"></i>
                        <div class="mb-4 pb-4 border-bottom border-secondary">
                            <p class="mb-0, justify-content-center">O melhor fornecedor de São Paulo.
                                Sempre mantendo o padrão de qualidade e frescor.
                                Grandes parceiros para o varejo!
                            </p>
                        </div>
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="bg-secondary rounded">
                                <img src="./img/oba.jpg" class="img-fluid rounded"
                                    style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            </div>
                            <div class="ms-4 d-block">
                                <h4 class="text-dark">Oba</h4>
                                <p class="m-0 pb-3">Hortifruti</p>
                                <div class="d-flex pe-5">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}