@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Bem-vindo a Plantech</h1>
    <p class="lead">Aqui você encontrará as melhores soluções para sua Fazenda Urbana.</p>
    <p>
        <a asp-controller="Login" asp-action="Login" class="btn btn-primary btn-lg">Faça Login</a>
    </p>
</div>


