@model IEnumerable<Plantech.ViewModels.PlantioViewModel>

@section Styles {
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Plantios";
}

<br><br>



<br><br>
<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>

    <div class="text-end" style="margin-right: 15px;">
    <br>
    <a asp-action="Create" class="btn btn-primary sm ">Iniciar Novo Plantio</a>
    <br>
    </div>

</div>
<div>
    <canvas id="graficoPlantios" width="600" height="200"></canvas>

</div>

<hr>

@section Scripts {

    <script>
        var ctx = document.getElementById('graficoPlantios').getContext('2d');
        var datas = @Html.Raw(Json.Serialize(Model.Select(p => p.DataPlantio?.ToString("yyyy-MM-dd"))));
        var quantidades = @Html.Raw(Json.Serialize(Model.Select(p => p.Quantidade)));

        console.log(datas, quantidades); // Para debugar

        var graficoPlantios = new Chart(ctx, {
        type: 'line',
        data: {
        labels: datas,
        datasets: [{
        label: 'Datas dos Plantios',
        data: quantidades,
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 1
        }]
        },
        options: {
        scales: {
        x: {
        type: 'category', // Usar categoria já que temos apenas datas
        },
        y: {
        beginAtZero: true
        }
        }
        }
        });
    </script>
}



