@model Plantech.Models.LotesHortalica

@{
    ViewData["Title"] = "Edit";
}


<div class="row  bg-white">
    <h4>LotesHortalica</h4>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <input type="hidden" asp-for="Id" />
            <div class="form-group col-12 col-md-6 col-xl-3">
                <label asp-for="PrecoVenda" class="control-label">Preço de Venda</label>
                <input asp-for="PrecoVenda" class="form-control" />
                <span asp-validation-for="PrecoVenda" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6 col-xl-3">
                <label asp-for="DataValidade" class="control-label">Data Validade</label>
                <input asp-for="DataValidade" class="form-control" />
                <span asp-validation-for="DataValidade" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6 col-xl-3">
                <label asp-for="Status" class="control-label">Status</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6 col-xl-3">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group modal-footer" style="border:none;">
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                <input type="submit" value="salvar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
