/*Desktop (col-lg) 992px*/
@media (min-width: 992px) {}

/*Desktop e Tablets(col-md) 768px a 991px*/
@media (min-width: 768px) and (max-width:991px) {}

/*Tablets(col-sm) 576px a 767px*/
@media (min-width: 576px) and (max-width:767px) {}


/*Tablets e Celulares(col) 0pc a 767px*/
@media (max-width: 767px) {
    .no-mobile {
        display: none;
    }

    .col-one {
        padding: 20px !important;
    }

    .Pesquisa input {
        margin-left: 160px;
        width: 180px;
    }

    input::placeholder {
        font-size: 12px;
    }

    .Pesquisa {
        margin-top: -40px;
    }

    .login {
        padding: 30px;
        margin-top: -140px;
        margin-left: 150px;
    }


    .img-logo {
        margin-left: 0px;
        margin-bottom: 0px;
        aspect-ratio: 1 / .8;
        object-fit: cover;
    }
}

.cor {
    height: 240px;
    margin-left: 80px;
    margin-top: 160px;
}

.endereco {
    margin-left: -50px;
}

.text-banner h1 {
    margin-left: -115px;
    margin-top: -230px;
    font-size: 40px;
    color: #106D08;
}

ul {
    margin-top: 40px;
}

/*------------------------------------ LOGIN-----------*/

.login {
    margin-top: auto;
    margin-left: -100px;
    padding: 0 150px !important;

}

.logo img {
    margin-top: 50px;
    margin-bottom: 50px;
}

section {
    background: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}



}