@{
    ViewData["Title"] = "Home Administrador";
}

<div class="jumbotron">
    <h1>Bem-vindo Administrador</h1>
    <br>
    <p>
        Suas funcionalidades estarão disponiveis em breve!
    </p>
</div>