@model Plantech.ViewModels.RelatorioViewModel
@{
    ViewData["Title"] = "Home Administrador";
}

<br><br>
<div class="jumbotron">
    <br><br>
    <h1>Bem-vindo Administrador</h1>
    <br>
    <p>
        Suas funcionalidades estarão disponiveis em breve!
    </p>
</div>
