@{
    ViewData["Title"] = "Home Vendedor";
}

<div class="jumbotron">
    <h1>Bem-vindo Vendedor</h1>

    <div class="modal-footer">
        <a asp-controller="Hortalicas" asp-action="Index" class="btn btn-primary btn-lg">Hortaliças</a>
        <a asp-controller="LotesHortalicas" asp-action="Index" class="btn btn-primary btn-lg">Lotes</a>
    </div>
</div>